{% extends "base_staff.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <br>
  <div class="jumbotron">
    <h3 align='center'>Please fill the Customer details below.</h3>
    <br>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-lg float-right px-5" type="submit" class="save btn btn-default">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

{% endblock %}
