{% extends "base_staff.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load my_extras %}

{% block content %}

<div class="">
  <div class="jumbotron">
    <form method="POST" novalidate>
      {% csrf_token %}
      <h4 align="center">Itinerary</h4>
      <hr>
      {{ formset.management_form|crispy }}
      {% for form in formset %}
          <div class="row">
              <div class="col">{{ form.title|as_crispy_field }}</div>
              <div class="col-2">{{ form.day|as_crispy_field }}</div>
              <div class="col-2">{{ form.itinerary_order|as_crispy_field }}</div>
              {{ form.id }}
          </div>
      {% endfor %}
        <button class="btn btn-primary btn-lg float-right mx-5 px-5" type="submit">Save</button>
    </form>
  </div>
</div>


<script>
  $("textarea").attr('rows',1)
</script>

{% endblock %}
