{% extends 'base_staff.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}
{% load my_extras %}

{% block content %}
<div class="container">
  <br>

  <form class="form-group" method="get">
      {{filter.form}}
      <input class="btn btn-primary float-right" type="submit" value='Search' />
  </form>

  <table class="table table-bordered table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">Trip ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
      <th scope="col">Destinations</th>
      <th scope="col">Owner</th>
      {% if user|has_group:'Sales' %}<th scope="col">Actions</th>{% endif %}
    </tr>
  </thead>
  <tbody>

    {% for lead in object_list %}
      <tr>
        <th scope="row">{{ lead.trip_id }}</th>
        <td><a href="{% url 'SalesApp:lead_detail' pk=lead.pk %}">{{ lead.customer.user.name }}</a></td>
        <td>{{ lead.customer.user.phone }}</td>
        <td>{{ lead.get_lead_status_display }}</td>
        <td>{{ lead.destinations.all|join:", " }}</td>
        <td>{{ lead.owner }}</td>
        {%if user|has_group:'Sales' %}
        <td class="w-25 p-3">
          <a href="{% url 'SalesApp:lead_update' pk=lead.pk %}"><button type="button" class="btn btn-primary float-left btn-sm px-3 mx-3">Edit</button></a>
          <form method="GET" action="{% url 'OperationsApp:booking_create' %}">
            <input type="hidden" name="lead_id" value="{{lead.id}}">
              <button class="btn btn-primary btn-sm float-right" type="submit">Create Booking</button>
          </form>
        </td>
        {% endif %}

      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% bootstrap_paginate page_obj range=5 %}
</div>

{% endblock %}
