{% extends "base_staff.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-75 p-3">
  <br>
  <div class="jumbotron">
    <h2 align='center'>Please fill the details below.</h2>
    <br>

    <form method="POST" id="quoteForm" data-cities-url="{% url 'SalesApp:ajax_quote_load_cities' %}"
                                       data-hotels-url="{% url 'SalesApp:ajax_quote_load_hotels' %}"
                                       data-transfers-url="{% url 'SalesApp:ajax_quote_load_transfers' %}"
                                       data-sightseeings-url="{% url 'SalesApp:ajax_quote_load_sightseeings' %}" novalidate>
    {% csrf_token %}
    {% if view_error %}{{ view_error }}{% endif %}
    {% if form.errors %}{{form.non_field_errors}}{% endif %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            {{ form.lead|as_crispy_field }}
            {{ form.title|as_crispy_field }}
            {{ form.starting_place|as_crispy_field }}
            {{ form.adults|as_crispy_field }}
            {{ form.children|as_crispy_field }}
            {{ form.children_age|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            {{ form.destinations|as_crispy_field }}
            {{ form.cities|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>
    <br>


    </div>
    </div>


<div class="">
  <div class="jumbotron">

    <div class="card">
      <div class="card-body">
        <h6>Hotel Details</h6>
        <hr>
          {{ hotel_formset.management_form|crispy }}
          {% for form in hotel_formset %}
            <div class="hotel-selections row justify-content-center">
              {% for field in form %}
                <div class="col"> {{ field|as_crispy_field }}</div>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h6>Transfer Details</h6>
        <hr>
          {{ transfer_formset.management_form|crispy }}
          {% for form in transfer_formset %}
            <div class="transfer-selections row justify-content-center">
              {% for field in form %}
                <div class="col"> {{ field|as_crispy_field }}</div>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h6>Sightseeing Details</h6>
        <hr>
          {{ sightseeing_formset.management_form|crispy }}
          {% for form in sightseeing_formset %}
            <div class="sightseeing-selections row justify-content-center">
              {% for field in form %}
                <div class="col"> {{ field|as_crispy_field }}</div>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>


    <br>
    <button class="btn btn-primary btn-lg float-right px-5" type="submit">Save</button>
    </form>
  </div>
</div>

<script src="{% static "js/salesapp_quote_form.js" %}"></script>

{# <script>
  var city_ids = $("#id_cities").val()
  template = "<option value=''>---------</option>"
  for (var i = 0; i < city_ids.length; i++) {
    city = $("#id_cities option[value="+city_ids[i]+"]").text()
    template += `<option value='${city_ids[i]}'>${city}</option>`
  }

  $("select[id*='city']").each(function(index){
    if ( !($(this).val() > 0) ) {
      $(this).html(template);
    }
  });
</script> #}

{% endblock %}
