{% extends "base_staff.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="">
  <div class="jumbotron">
    <form method="POST" id='inclusionsForm' data-hotels-url="{% url 'SalesApp:ajax_quote_load_hotels' %}" novalidate>
      {% csrf_token %}
      <h4 align="center">Inclusions</h4>
      <hr>
      {{ inclusion_formset.management_form|crispy }}
      {% for form in inclusion_formset %}
          <div class="row">
              <div class="col-2 item_type-class">{{ form.item_type|as_crispy_field }}</div>
              <div class="col col-1 other_type-class">{{ form.other_type|as_crispy_field }}</div>
              <div class="col city-class">{{ form.city|as_crispy_field }}</div>
              <div class="col hotel-class">{{ form.hotel|as_crispy_field }}</div>
              <div class="col checkin_date-class">{{ form.checkin_date|as_crispy_field }}</div>
              <div class="col checkout_date-class">{{ form.checkout_date|as_crispy_field }}</div>
              <div class="col name-class">{{ form.name|as_crispy_field }}</div>
              <div class="col airline-class">{{ form.airline|as_crispy_field }}</div>
              <div class="col col-5 details-class">{{ form.details|as_crispy_field }}</div>
              <div class="col col-4 variable_transports-class">{{ form.variable_transports|as_crispy_field }}</div>
              <div class="col col-6 transports-class">{{ form.transports|as_crispy_field }}</div>
              <div class="col col-6 transfers-class">{{ form.transfers|as_crispy_field }}</div>
              <div class="col col-6 sightseeings-class">{{ form.sightseeings|as_crispy_field }}</div>
              <div class="col col-6 visas-class">{{ form.visas|as_crispy_field }}</div>
              <div class="col col-6 insurance-class">{{ form.insurance|as_crispy_field }}</div>
              <div class="col room_type-class">{{ form.room_type|as_crispy_field }}</div>
              <div class="col col-1 no_of_rooms-class">{{ form.no_of_rooms|as_crispy_field }}</div>
              <div class="col col-1 price-class">{{ form.price|as_crispy_field }}</div>
              {{ form.id }}
              {% if form.package_item and form.optional %}<div class="col col-1 include-class">{{ form.include|as_crispy_field }}</div>{% endif %}
              <div class="col-1 DELETE-class">{{ form.DELETE|as_crispy_field }}</div>
          </div>
          <hr>
      {% endfor %}
        <button class="btn btn-primary btn-lg float-right mx-5 px-5" type="submit">Save</button>
    </form>
  </div>
</div>


<script>
// FORM STYLING SCRIPTS
$("textarea").attr('rows',2)
$("label").css('font-size','0.9em')
</script>

<script>

// THIS SCRIPT INITIALIZES THE FORMS WITH EXISTING DATA
$('.item_type-class select').each(function(){
  $(this).parents('.row').find('.col').hide();

  if ($(this).val() == 'FLIGHT') {
    $(this).parents('.row').find('.airline-class').show()
    $(this).parents('.row').find('.details-class').show()
    $(this).parents('.row').find('.price-class').show()
  } else if ($(this).val() == 'HOTEL') {
    $(this).parents('.row').find('.hotel-class').show();
    $(this).parents('.row').find('.checkin_date-class').show();
    $(this).parents('.row').find('.checkout_date-class').show();
    $(this).parents('.row').find('.room_type-class').show();
    $(this).parents('.row').find('.no_of_rooms-class').show();
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'VARIABLE_TRANSPORT') {
    $(this).parents('.row').find('.variable_transports-class').show();
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'TRANSPORT') {
    $(this).parents('.row').find('.transports-class').show();
  } else if ($(this).val() == 'TRANSFER') {
    $(this).parents('.row').find('.transfers-class').show()
  } else if ($(this).val() == 'SIGHTSEEING') {
    $(this).parents('.row').find('.sightseeings-class').show()
  } else if ($(this).val() == 'VISA') {
    $(this).parents('.row').find('.visas-class').show()
  } else if ($(this).val() == 'INSURANCE') {
    $(this).parents('.row').find('.insurance-class').show()
  } else if ($(this).val() == 'OTHER') {
    $(this).parents('.row').find('.city-class').show()
    $(this).parents('.row').find('.other_type-class').show()
    $(this).parents('.row').find('.name-class').show().addClass('col-2')
    $(this).parents('.row').find('.details-class').show().removeClass('col-5').addClass('col-3')
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'EXCLUSION') {
    $(this).parents('.row').find('.details-class').show().addClass('col-6')
  }
});


// THIS SCRIPT MODIFIES THE FORM WHEN USER SELECTS ITEM TYPE IN FORM
$('.item_type-class select').change(function(){
  // $(this).parents('.row').find('input').not('[type=hidden]').val("")
  // $(this).parents('.row').find(':checkbox').prop('checked',false);
  // $(this).parents('.row').find('select').not('[id*=item_type]').val("")
  // $(this).parents('.row').find('textarea').val("")
  $(this).parents('.row').find('.col').hide();

  if ($(this).val() == 'FLIGHT') {
    $(this).parents('.row').find('.airline-class').show()
    $(this).parents('.row').find('.details-class').show()
    $(this).parents('.row').find('.price-class').show()
  } else if ($(this).val() == 'HOTEL') {
    $(this).parents('.row').find('.hotel-class').show();
    $(this).parents('.row').find('.checkin_date-class').show();
    $(this).parents('.row').find('.checkout_date-class').show();
    $(this).parents('.row').find('.room_type-class').show();
    $(this).parents('.row').find('.no_of_rooms-class').show();
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'TRANSPORT') {
    $(this).parents('.row').find('.transports-class').show();
  } else if ($(this).val() == 'VARIABLE_TRANSPORT') {
    $(this).parents('.row').find('.variable_transports-class').show();
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'TRANSFER') {
    $(this).parents('.row').find('.transfers-class').show()
  } else if ($(this).val() == 'SIGHTSEEING') {
    $(this).parents('.row').find('.sightseeings-class').show()
  } else if ($(this).val() == 'VISA') {
    $(this).parents('.row').find('.visas-class').show()
  } else if ($(this).val() == 'INSURANCE') {
    $(this).parents('.row').find('.insurance-class').show()
  } else if ($(this).val() == 'OTHER') {
    $(this).parents('.row').find('.city-class').show()
    $(this).parents('.row').find('.other_type-class').show()
    $(this).parents('.row').find('.name-class').show().addClass('col-2')
    $(this).parents('.row').find('.details-class').show().removeClass('col-5').addClass('col-3')
    $(this).parents('.row').find('.price-class').show();
  } else if ($(this).val() == 'EXCLUSION') {
    $(this).parents('.row').find('.details-class').show().addClass('col-4')
  }
});

</script>

{% endblock %}
