{% extends "base_staff.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-50 p-3">
  <br>
  <div class="jumbotron">
    <h2 align='center'>Please fill the details below.</h2>
    <br>
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <form method="POST" id="packageForm" data-cities-url="{% url 'SalesApp:ajax_quote_load_cities' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-lg float-right px-5" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
// SCRIPT FOR INITIALIZING THE FORM DISPLAY ACCORDING TO PACKAGE TYPE
var type = $("select[id=id_type]").val();
if (type == 'TEMPLATE') {
  $("div[id*=price]").hide();
  $("div[id*=validity_start_date]").hide();
  $("div[id*=validity_end_date]").hide();
}

// SCRIPT FOR VARYING THE FORM DISPLAY ACCORDING TO PACKAGE TYPE
$("select[id=id_type]").change(function(){
  if ($(this).val() == 'TEMPLATE') {
    $("div[id*=price]").hide();
    $("div[id*=validity_start_date]").hide();
    $("div[id*=validity_end_date]").hide();
  }
});


// SCRIPT FOR VARYING CITY SELECTION IN QUOTE INFO BASED ON DESTINATIONS SELECTED
$("#id_destinations").change(function () {
  var url = $("#packageForm").attr("data-cities-url");  // get the url of the `quote_load_cities` view
  var destination_ids = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/sales/ajax/quote/load-cities/)
    data: {
      'destinations': destination_ids       // add the destination id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_cities").html(data);  // replace the contents of the city input with the data that came from the server
    }
  });
});
</script>

{% endblock %}
