{% extends "base_staff.html" %}
{% load static %}
{% load my_extras %}

{% block content %}
{% if not file_valid %}
  <div class="container">
    <br>
    <div class="jumbotron">
        <div class="row">
          <form class="md-form" align="center" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if error %} <h6>{{error}}</h6> {% endif %}
            <br><br>
            <input type="file" name="document">
            <button class='btn btn-outline-success float-right' type="submit" name="button">Upload File</button>
            <br><br>
            <p>Please upload onlt text files with size less than 100 KB.</p>
          </form>
        </div>
    </div>
  </div>

{% else %}

    <div class="container-fluid">
      <table class="table table-bordered table-hover table-secondary">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Reference</th>
          <th scope="col">Description</th>
          <th scope="col">Transaction Head</th>
          <th scope="col">Amount</th>
          <th scope="col">Cr / Dr</th>
          <th scope="col">Reconciliation Details</th>
          <th scope="col">Balance</th>
          <th scope="col">Reference Number</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>

        <form method="POST">
          {% csrf_token %}
          {{ formset.management_form }}
          <tbody>
          {% for form in formset %}
            <tr>
              <th scope="row">{{ form.date }}</th>
              <td>{{ form.reference }} </td>
              <td> {{form.description}}</td>
              <td>{{ form.transaction_head }}</td>
              <td>{{ form.amount }}</td>
              <td>{{ form.inout_type }}</td>
              <td>{{ form.reconcile_details }}</td>
              <td> {{ form.balance }} </td>
              <td>{{ form.reference_num }}</td>
              <td>{{ form.remarks }}</td>
            </tr>
          {% endfor %}
          </tbody>
          <button type="submit" class="btn btn-primary btn-lg float-right">Save Transactions</button>
        </form>

      </table>
    </div>

    <script>
      $("input[name*='date']").prop('readonly', true);
      $("input[name*='reference']").prop('readonly', true);
      $("input[name*='amount']").prop('readonly', true);
      $("select[name*='inout_type']").attr("style", "pointer-events: none;").attr('tabindex', -1);
      $("input[name*='balance']").prop('readonly', true);
      $("input[name*='reference_num']").prop('readonly', true);
    </script>

{% endif %}

{% endblock %}
