{% extends "base_staff.html" %}
{% block content %}

<div class="container w-50 p-3">
  <br>
  <div class="jumbotron">
    <table class="table table-bordered table-hover table-secondary">
      <tr>
        <th class="bg-secondary th-customer-detail w-25 p-3">Lead Creation Date</th>
        <td>{{ lead.creation_date }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Trip ID</th>
        <td>{{ lead.trip_id }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Name</th>
        <td>{{ lead.customer.user.name }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Email Address</th>
        <td>{{ lead.customer.user.email }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Phone Number</th>
        <td>{{ lead.customer.user.phone }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Status</th>
        <td>{{ lead.get_lead_status_display }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Destinations</th>
        <td>{{ lead.destinations.all|join:", " }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Remarks</th>
        <td>{{ lead.remarks }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Lead Source</th>
        <td>{{ lead.lead_source }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">ID at Lead Source</th>
        <td>{{ lead.id_at_lead_source }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Lead Owner</th>
        <td>{{ lead.owner }}</td>
      </tr>
      <tr>
        <th class="bg-secondary th-customer-detail">Booking</th>
        <td>
          <a href="{% url 'OperationsApp:booking_detail' pk=booking.pk %}">
          {{ booking.quote.lead.trip_id }} ({{booking.quote.destinations.all|join:", "}})</td></a>
      </tr>
    </table>

    <form method="GET" action="{% url 'SalesApp:quote_create' %}">
      <input type="hidden" name="lead_id" value="{{lead.id}}">
        <button class="btn btn-warning btn-lg float-right mx-3" type="submit">Create Quote</button>
    </form>

    <a href="{% url 'SalesApp:lead_update' pk=lead.pk %}"> <button class="btn btn-warning btn-lg float-right px-5 mx-3" type="submit">Edit </button> </a>

    <br>
  </div>

</div>

{% endblock %}
