{% extends "base_staff.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" align='center'>
      <h1>Dashboard</h1>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">MarketingApp</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'MarketingApp:inquiry_list' %}">Inquiries</a></td>
            <td class="float-right"> <a href="{% url 'MarketingApp:inquiry_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <a href="{% url 'MarketingApp:inquiry_create' %}"><button class='btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">ProfilesApp</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'ProfilesApp:customer_list' %}">Customers</a></td>
            <td class="float-right"> <a href="{% url 'ProfilesApp:customer_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"><a href="{% url 'ProfilesApp:customer_create' %}"><button class='customer-create btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">SalesApp</th>
            <th class="table-primary"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'SalesApp:lead_list' %}">Leads</a></td>
            <td class="float-right"> <a href="{% url 'SalesApp:lead_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <a href="{% url 'SalesApp:lead_create' %}"><button class='btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
          </tr>
          <tr>
            <td><a href="{% url 'SalesApp:lead_list' %}">Quotes</a></td>
            <td class="float-right"> <a href="#"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <button class='btn btn-outline-success' type="submit" name="button">Add New</button> </td>
          </tr>
        </tbody>

      </table>

      <br>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">OperationsApp</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'OperationsApp:booking_list' %}">Bookings</a></td>
            <td class="float-right"> <a href="{% url 'OperationsApp:booking_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <a href="{% url 'OperationsApp:booking_create' %}"><button class='btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
          </tr>
        </tbody>
      </table>

      <br>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">AccountsApp</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'AccountsApp:trippayment_list' %}">Trip Payments</a></td>
            <td class="float-right"> <a href="{% url 'AccountsApp:trippayment_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
          </tr>
          <tr>
            <td><a href="{% url 'AccountsApp:transaction_list' %}">Transactions</a></td>
            <td class="float-right"> <a href="{% url 'AccountsApp:transaction_list' %}"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <a href="{% url 'AccountsApp:transaction_create' %}"><button class='btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
            <td class="float-right"> <a href="{% url 'AccountsApp:transaction_upload' %}"><button class='btn btn-outline-success' type="submit" name="button">Bulk File Upload</button></a> </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">ContentApp</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Transfers</a></td>
            <td class="float-right"> <a href="#"><button class='btn btn-outline-success px-5' type="submit" name="button">View</button></a> </td>
            <td class="float-right"> <a href="{% url 'ContentApp:transfer_create' %}"><button class='btn btn-outline-success' type="submit" name="button">Add New</button></a> </td>
          </tr>
        </tbody>
      </table>

  </div>
</div>


<!-- Modal for Bootstrap-Modal-Forms
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

{# <script type="text/javascript">
$(document).ready(function() {

    $(".quote-create").modalForm({
        formURL: "{% url 'dashboard' %}"
    });

});
</script> #}

-->

{% endblock %}
