{% extends 'base_staff.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load my_extras %}

{% block content %}
  <br>

  <form class="form-group" method="get">
      {{filter.form}}
      <input class="btn btn-primary float-right" type="submit" value='Search' />
  </form>

  <table class="table table-bordered table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">Booking Date</th>
      <th scope="col">Trip ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
      <th scope="col">Owner</th>
      <th scope="col">Travel Date</th>
      <th scope="col">Destinations</th>
      <th scope="col">Lead Source</th>
      <th scope="col">Projected Revenue</th>
      <th scope="col">Sale Amount</th>
      {% if user|has_group:'Operations' %}<th scope="col">Actions</th>{% endif %}
    </tr>
  </thead>
  <tbody>

    {% for booking in object_list %}
      <tr>
        <th scope="row">{{ booking.booking_date }}</th>
        <td><a href="{% url 'OperationsApp:booking_detail' pk=booking.pk %}">{{ booking.quote.lead.trip_id }}</a></td>
        <td>{{ booking.quote.lead.customer.user.name }}</td>
        <td>{{ booking.quote.lead.customer.user.phone }}</td>
        <td>{{ booking.get_status_display }}</td>
        <td>{{ booking.owner }}</td>
        <td></td>
        <td>{{ booking.quote.destinations.all|join:", " }}</td>
        <td>{{ booking.quote.lead.lead_source }}</td>
        <td>{{ booking.projected_revenue }}</td>
        <td>{{ booking.sale_amount }}</td>
        {%if user|has_group:'Operations' %}
        <td><a href="{% url 'OperationsApp:booking_update' pk=booking.pk %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>
        {% endif %}

      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% bootstrap_paginate page_obj range=5 %}
{% endblock %}
